  <!DOCTYPE HTML>
<html>

 <head>
  <meta charset="utf-8"> 
  <link rel="stylesheet" href="Practice.css">
  <script src="https://kit.fontawesome.com/261f20d232.js" crossorigin="anonymous"></script>

 </head>

 <body>
  <div  class="damn">
    
  </div>

  <!--         LIST'S START           -->
  <div id="app">
  <div class="dash" v-bind:class="{mini: !minif}">
    <p class="quadro_title" @click="editQuadroName" 
     v-if="!editQuadroTitle">{{quadro.title}}
      <span v-if="quadro.title == ''">Списки подгрупп</span>
    </p>
    <input class="title_q"
           @blur="cancelQuadroTitle"
           v-on:keyup.enter="cancelQuadroTitle"
           v-else=""
           type="text"
           v-model="quadro.title">
    <div class="card" 
       v-for="card in cards">
       <!--Отвечает за перемещение элементов из стоблцов-->
    <div v-if="mover" class="move_p">
      <div @click="movendo(card)"
           class="moover"
           v-if="idCard !== cards.indexOf(card)">
        <p>Доступна для переноса</p> 
      </div>
      <div @click="cancelMover" class="moover"
           v-else="idCard === cards.indexOf(card)">
        <p>Текущая таблица</p>
      </div>
    </div>
    <!--END-->
    <button v-if="card.delete" 
            @click="deleteCard(card)"
            class="delete topd">
           <i class="fas fa-trash"></i>
    </button>
    <p class="title"
       v-bind:class="{ editando: card.edit }" 
       @click="editTitleCard(card)">
      <i :class="card.icon"></i>   
      {{ card.name }} 
      <span v-if="card.name == ''">
        Без названия;
      </span>
    </p>
    <input v-if="card.edit" @blur="cancelEditCard(card)"
           v-on:keyup.enter="cancelEditCard(card)"
           class="edit" type="text"
           v-model="card.name"
           maxlength="45">
    <!--Отвечает за содержание колонки-->
    <div class="list">
     <p v-if="card.tarefas.length == 0" id="ghost">список студентов</p>
      <draggable
          v-model="card.tarefas">
      <div v-for="tarefa in card.tarefas">
     <div v-bind:class="{moved: tarefa.moved}">
    <div class="tarefa" v-on:dblclick="concluido(card, tarefa)"
         v-bind:class="{ concluido: tarefa.finalizado}">
      <p>{{ tarefa.name }}</p>
      <button @click="deleteTarefa(tarefa, card)"
              class="delete">
        <i class="fas fa-trash"></i> <!--Иконка удаления -->
      </button>
      <button v-if="card.tarefas.indexOf(tarefa) > 0"
              @click="upTarefa(tarefa, card)"
              class="right">
        <i class="fas fa-chevron-up"></i>
      </button>
      <button class="move" @click="move(card,tarefa)">
        <i class="fas fa-mouse-pointer"></i> <!--иконка переноса-->
      </button>
      <button v-if="card.tarefas.indexOf(tarefa) < card.tarefas.length - 1"
              @click="downTarefa(tarefa, card)"
              class="right"><i class="fas fa-chevron-down"></i>
      </button>
      </div>
        </draggable>
       </div>
      </div>
    </div>
     
    <input type="text" v-model="card.novaTarefa"
           v-on:keyup.enter="newTarefa(card)"
           placeholder="Введите и/ф студента" maxLength="100">
  </div>
  <!-- отвечает за создание новой карты-->
  <div class="card">
    <h1>Создание группы</h1>
    <input type="text" v-model="newCardName"
           v-on:keyup.enter="newCard"
           placeholder="Введите название группы" maxLength="30">
  </div>
  <!--           LIST'S END         -->  
  </div>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.10.2/Sortable.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/15.0.0/vuedraggable.min.js"></script>
  <script src="vue.min.js"></script>
  <script src="Practice .js"></script>  

 </body>

</html>